<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>房贷利率“换锚”！现在买房是赚还是亏？</string>
	<key>body</key>
	<string>从2019年10月8日起，我国的房贷利率出现了首次＂换锚＂。以前人们的房贷利率都是参考基准利率的，基准利率是什么意思呢？通常情况下就是指贷款银行会通过市场情况选择上浮或者折扣利率，比如上浮10％或者9折的折扣，现在则不一样，现在用的是LPR，是以全国有18个银行作为报价行，在每月的20日上报贷款利率，在去掉一个最高值和一个最低值后，再计算出最终的贷款利率。


当然了，这个贷款利率并非是固定的，这个利率还会作为下个月参考的贷款利率，银行再根据自己的情况选择加基点，比如9月的lpr为4.85％，10月就按照4.85％的利率为参考，选择加基点。
一、以前房贷利率更低还是现在房贷利率更低？
其实，短时间是看不出有多大区别的，现在因为使用lpr，每月的贷款利率都可能不同，所以较之前的基准利率肯定浮动更大。但是，这个时候也不能忽略加点的存在，现在大部分城市都公布了加基点的情况。
来举个简单的例子，比如现在的贷款利率是4.85％，在这种情况下，某银行选择加60个点，房贷利率为5.45％，某银行选择加65个基点，房贷利率为5.5％。
这样计算下来得到的答案会是如何的？你会发现，实际上最终算下来的房贷利率和之前的房贷利率相差并不大，现在大部分城市都有加基点，和之前上浮利率算下来相差不大。

二、现在买房还是等一等？
在上面的内容，小编说了，现在的房贷利率虽然和之前的房贷利率算下来差不多，但是，多多少少还是有点差异的，因为各个城市都可能存在着差异，而有些城市算下来可能会多上浮1％至5％。特别是观察了各个银行增加的基点后就能感觉各个银行增加的基点差距还是较大的。
其实，lpr实行也没多久，不仅购房者感到陌生，现在很多银行对房贷实行lpr还是＂摸着石头过河＂，因此才会出现加基点出现较大的差距。也就是说，银行还需要一段时间来适应，但到了后期，各个银行为了自己放贷的金额，肯定不愿意和其他银行有很大差距。
比如，在申请房屋贷款的时候，其他银行都是加50个基点，自己银行却加了70个基点，作为购房者来说肯定愿意选择房贷利率更低的银行。因此，对于买房这件事，建议在房价稳定的情况下，购房者可以再等一等，相信房贷利率会更加稳定，房贷利率相对现在可能会更低一点。

以上就是本文的全部内容了。现在的房贷利率是以lpr为准了，因此，内行人建议在房价稳定的情况下，买房可以再等一等，看看这两月的房贷利率以及加基点情况，总而言之，从上面的分析能够看出内行人的分析还是值得“参考”的，各位购房者可以根据自己的实际情况判断是否现在买房。</string>
</dict>
</plist>
