<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>央企表率：最实惠的购房 致敬最美“逆行者”</string>
	<key>body</key>
	<string>疫情当前，在房地产销售与网络结合之下，电商、全民营销等针对引流的一系列玩法又被摆上台面。
随着全国多地开展对前线医护人员子女提供政策支持，在一场场旨在调动全民参与的房企优惠活动之后，部分房企纷纷开始向抗击疫情的相关人士提供定向优惠与关爱服务。
2月24日，中国金茂率先推出“温暖安家计划”，力求以最实惠的购房，回报抗击疫情群体的付出。
为战“疫”群体提供购房底价优惠
2月24日，金茂宣布启动“温暖安家计划”，成为业内率先为参与疫情防控企事业单位和个人推出定向安家计划的房地产企业。
据了解，自该计划发布之日起至2020年3月31日，金茂旗下在售住宅项目将提供部分优质房源，对为疫情防控做出贡献的四大类企事业单位和个人，以及在防疫期间与金茂并肩作战的老业主，实施定向让利。
其中定向的四大类企事业单位和个人，包括：参与今年抗击疫情的医护人员；医疗设备与疫情耗材生产企业人员；疫情期间曾捐款捐物的企业，以及志愿者和社区工作人员、警察等为抗疫做出直接贡献的人员；其他直接参与抗疫的企业及人员等。
上述人群在购买“温暖安家计划”的房源时，将可享受在底价基础上的85折购房优惠。金茂方面表示，“温暖安家计划”的定向让利不针对社会普通客户，公司将对参与活动的单位和个人进行严格的资质审核。
同时，“温暖安家计划”还将为定向人群匹配三项置业便利政策，包括付款方式优惠、卖旧买新政策、无忧购房计划。此外，为了给定向人士提供选房便利，金茂粉线上小程序还将提供在线看房服务。
未经包装的优惠 绕开数字游戏
金茂的优惠活动，与当前大部分房企的活动有着本质上的不同。
究其原因，在于动机上的不同——大多数房企在特殊时期展开线上自救行动，为的是带动销售，拓展客流，无论售房最终是多赚还是少赚，房企都可能获得以现金流、客户、资本等形式呈现出来的“利”。
因此，虽然大部分房企推出了多样的线上优惠玩法，却带来了复杂的优惠规则，没有带来更高的价格透明度。站在买方自身利益的角度上，其最为关心的并非“游戏”怎么玩，而是“游戏”最终能带来的最大优惠是多少。
通过大部分房企以定金作为入场门槛的策略管窥，对于买方来说，定金在必然退还的基础上，还可作为抵扣优惠，赚取佣金、补偿金的本金，可谓稳赚不赔。但是，在线上价格不透明的情况下，满足不同先决条件才能触发的优惠条款，单从数字来看优惠力度并不强烈。与其说房企鼓励人们锁定房源自己购房，不如说更为鼓励人们带货给身边人，获取更多的定金与用户。
一如一些电商施行的预售方式，对未发售、未到货的商品开展先期预定，买方需要缴纳一定比例的定金作为锁定购买权的门票，在商品到货后再补齐余下款项。视商品热度与标价的不同，商家收取的定金量也不同，这部分资金在商品到货日之前，可被视为商家能自由支配的现金流，也被众多买家戏称为长期的“无息贷款”。
对于大部分实施定金策略的房企来说也是如此。房企线上的优惠活动期越长，收取的定金量就越多，获取的客户也越多，再加上“未成功销售于X个工作日内退还”的条款，为房企在很长一段时间内提供了大量可辗转腾挪的现金流，以及可满足后续行动的大量潜在客户。以某房企的公开数据计算，3天内线上用户认购47500套房源，每套收取5000元定金，即是获取了约2.38亿元的“无息贷款”；同时该房企的线上注册用户也增长了300余万人。
同时，线上价格不透明这一长久以来的问题也难以让买方感受到房企优惠的诚意。
单一平台下是否出现“先提价后打折”，不同销售人员能承受怎样的让利而给出不同的报价，寻找内部关系能否享受进一步降价，都是买方需要考虑的问题。特别是“先提价后打折”这一作为电商诞生后就催生出的产物，吞噬部分甚至整个优惠幅度，导致实际优惠不如账面所示甚至没有优惠，极大影响了买方对优惠活动的信任度。
因此，没有经过包装而实打实呈现出的优惠，才最能体现出房企的诚意，也是金茂体现出的诚意。
一方面，金茂保证了价格的透明度，即项目房源的底价，避免在价格上做数字游戏；同时没有设定定金门槛，抛开了“无息贷款”；也没有繁杂的优惠玩法和规则，单纯地在底价基础上打85折，绕开了条款的文字游戏。
最为重要的是，金茂不求拓客，而是定向对以今年抗击疫情的医护人员为代表的四类人群提供购房优惠。把所有要素摆上台面，只求对特定群体的最大让利，才造就了金茂与其他展开线上促销房企的不同。
承担央企责任 积极跟进回报战“疫”群体
截至2月20日，国家、部队和各省市已累计派出255支共32572名医护人员支援武汉，有力解决武汉自身救治力量严重不足的问题。
疫情发生以来，已有多位医护人员倒在了疫情防控救援工作一线。截至2月11日24时，全国共报告医务人员确诊病例1716例，占到全国确诊病例的3.8%，其中有6人不幸去世，占全国死亡病例的0.4%。
在抗击疫情的关键阶段，苏州、南京、宁波等地先后出台相关政策，为赴湖北疫情防控一线开展医疗支援工作人员，其子女当年涉及基础教育阶段入学、升学的，在各地各校职责范围内，开辟专门绿色通道，优先录取。四川、湖北、大同、抚州、等地也相继出台了给一线医护人员子女中考加分的政策。
自新冠肺炎疫情发生以来就积极参与战“疫”的中国金茂，此次推行大幅让利的“温暖安家计划”，正是基于央企社会责任，积极跟进做出的表率，为抗击疫情人员提供最为实惠的购房。
值得一提的是，金茂不仅力求回报前线奋战的医护人员，还注意到了其他投身抗击疫情不同环节的各个企业单位及相关人士，他们理应在巨大的付出和牺牲之后获得人们的感恩与致敬。
诚然，以医护人员为代表的战“疫”人士的付出难以为报，但中国金茂希望借此温暖更多参与战“疫”的人们，向他们致敬的同时，助力他们温暖安家。</string>
</dict>
</plist>
