<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>看了100多套房 买了5套 翻了2倍，总结了这几条买房经验</string>
	<key>body</key>
	<string>我是北京房姐，资深房产投资专家。你相见恨晚的买房军师，目前已为10000人提供买房最佳解决方案。房产自媒体中唯一敢讲真话的自己人！房姐属于实战派只说对你最有用的操作和建议
 
提问：入圈第一问:我是外地人，孩子在朝阳区亮马桥附近工作，为上下班放便，想买周边二手房，50平二居室，新源衔和新源里的二手房房龄都在40年，价格在7万到8万，这个价位还有升值空间吗？还能选择吗？比较纠结，本人是买第一套房，能够凑出300万，应接如何买房？请房姐帮忙指点！

回答：你好，子弹300，可以选择的范围很广。 亮马桥总体是比较好的板块，主要是正常的楼盘太少，没多少房可挖。 丽水嘉园 炫特5.5万以下的 朝青国美4万以下下 亮马桥嘉和丽园5.5万左右的都可以 房龄40年升值潜力很一般

 

提问：房姐好，目前住在东五环五方桥附近一套175大三居，户型不错但周边配套社区环境不好想置换高品质楼盘，改善自主为坚固保值；目前和父母名下均没有购房名额了只能先用亲戚stsd名额，考虑总价1400，卖一套133平两居天鹅湾，特殊偏好：大户型大面宽，位置三四环左右，品牌楼盘无学区要求，夫妻在朝阳上班；看了一圈房子最后把范围放在南四环新宫泰禾金府大院和中粮天悦壹号。纠结两个点：1.目前的形势卖方换房的手续及额外费用(贷款利息\/过户\/装修等等，需要额外付出五六百万)，是否值得置换；2.如果出手泰禾小区密度和园林精致，中粮175户型很赞，楼位置楼层差不多情况下泰禾贵二三十万，怎么选呢？急求指教￼

回答：垡头豆各庄，我能想到的175三居就只有京城雅居。 这个小区非常孤立，只有一根辅路下来印象非常深刻，连到未来豆各庄地铁都相对困难，小区又是大户型，4.5往上的价格未来出手无论是价格还是流动性都有困难。 天鹅湾不卖，可以买； 泰禾金府大院，中粮天悦壹号都非常差，再三回避。

 

提问：房姐好，目前住在海淀区西三环北路56号院60米两居室，因为孩子在花园桥附近上小学，所以计划在周边置换个小区环境好，楼龄较新，高层带电梯的小区。卖掉这套后首付能凑600万，月收入5万，现在考虑中海雅园，中海雅园是高层塔楼，楼层和户型好点的总价都在1000万以上，二套首付不够。关于中海雅园和周边其他小区推荐，以及首付和贷款方面有什么解决办法，请房姐指导，谢谢！

回答：别用二套资格买，直接全款抵押，找垫资公司配合，最多可以抵押7成，相当于首付3成。 自住可以选择中海雅园，原则上单价控制在7万内。

 

提问：您好 第一次提问 不知道上一条是否成功。一套5环三羊地区商品房170平通透中间楼层大平层，中介说市价1000万，有350万贷款，房本今年年初刚下来，想换到国贸1300万房产。手里现金200万。如果卖房换，现在着急用钱会被割肉卖而且买家也不确定周期也不确定。如果不卖房贷款全款拿，意味着1300余万的最终贷款，后续流动性有很大问题，年收入只有40万左右，后边再卖房补上中间时间也会很焦虑而且成本增加。请您赐教好一些的方案，另中介垫款由于额度较大也不会空垫，需要其他足值房产抵押，目前看似不好腾挪。请您赐教，感谢！

回答：你好，北京原则上不置换 用你的二套房票，全款抵押的方式继续买入。 大平层做阶段抵押融资，剩余子弹足够还月供。 淡市不出货，等到下一轮涨幅来了可以考虑出手裂变。

 

提问：房姐，手上目前800现金，一套目前价值1200的住宅和一套价值600的商住（目前年租金20）。 想再入手一套房兼顾未来5年后自住和交房后直接出租收取租金，朋友推荐朝阳的新叠拼——和锦薇棠，180平中叠约1300，上叠约1600，这样的房值得出手吗？目前是二套，现金子弹不够怎么办？现有的房子做抵押出手？还是去做全款抵押买呢？本来想在金茂府买套200的住宅，总价近2000，超出预算了，如想买入（自住和投资），还有其他方案吗？这两个选择您觉得怎样抉择？谢谢！

回答：看的这几个都不推荐，金茂府更是ceo盘 看下望京7*210，5*300的标的，东四环6.5*230的标的

 

提问：房姐好，我是北京高校毕业两年，只解决了工作居住证的小白，我老公博士在读，预计明年毕业。考虑到工作机会，我还是很想留在北京发展，至少未来5年内都会在北京。在买房方面，预算首付在100万左右，我们想先上车，即便未来不在北京，可以把房卖了去其他地方。请问房姐买哪里的合适？

回答：思路正确 100可以在北京买到总价300的房子 如果克勤克俭，sfsd做好评估 足够买到东三环到东五环之间的老公房上车盘 潘家园，北工大，十里堡和甘露园板块。 关注90年代后的小2居，可以贷足。

 

提问：房姐，从现在的成交量来看，北京整体行情是不是已经从底部往上走，最近发现周围突然好多同事在北京买房子，还有好多想置换的。如果没有政策压制，可见北京的爆发力非同一般呢。

回答：成交量在回暖过程中。 整个市场呈现的行情是： 部分低总价的房源绝对数量在减少，比如300内上半年一个区域有100套，今天只有20-30套。 优质房源停留时间更短，当天隔天的成交开始出现。 置换的购买力开始增长。 无论是购买力，还是交易量，还是大的行情走势，北京都不缺。 政策压制下，能量溢出也很明显。 可能就缺一个契机破局。

 

提问：夫妻婚后在天通苑首套房，目前450万现金，月收入除房贷40万左右，孩子2岁。想在明年入手中旬第二套房，大概800万首付，主要为了改善生活环境和孩子学校考虑，海淀工作居住证，天津户口。请问什么时候入手第二套房合适，主要观察哪些区域和小区，目前主要靠海淀和朝阳

回答：目前海淀没有投资价值 未来也是朝阳发展更好 重点看朝阳公园，CBD周边，还有望京1000+万次新或大面积单价低的2003左右的标的。都是不错的标的

 

提问：请问丰台科技园和丽泽商务区在北京的地位是怎么看待的，感觉一直发展不起来

回答：丽泽是缺少商圈地段的南城翻身的希望，但是结果是高举慢打。 全新规划办公商圈，新地铁，新机场，丽泽是南部的核心，但建设时间太长，广告太多，「储值客户」收益率很低。 但核心仍然在于，产业的链接地区，居住人群有限，丽泽天然不是很好的新基地，分矿点。 关于丽泽，之前也有回答 丰台科技园，相对朴实一些，现在人口也有所增加。 缺点在于，位于边缘终点地段，产业人口仍然来自其他地区通勤，本身也没有过路人群，价格不算便宜。 最终落实到买房上，这两个地区都存在一定不确定性，加上价格吸引力不强，可以先回避，选择潜力和确定性更强的板块。

 

提问：房姐你好，九龙山平乐园中间的东方雅苑（cbd传奇）05年之后的大开间你觉得怎么样？还是农光里00年后的一居？ 我知道房姐不推荐一居，但一居跟开间比，怎样？

回答：都不怎么样，不知道你首付什么情况 CBD传奇属于偏小户型的小区，都同样面临户型小，面积浪费，单价高的问题。 天之骄子，九龙花园，华腾园都是更好的选择标的。

 

提问：房姐：子弹300w,未来计划定居成都 1.比较纠结是先买北京的房子还是先买成都的（成都还在涨，另外北京限制人口2300万，人口增长有限，像成都中心城市还有很大的潜力，北京感觉发展饱和了），买了北京的至少3年后才有资金购买成都（前提是房价不涨） 很是纠结先入手北京还是成都 2.北京房子还具备长期投资价值吗？已经是高点了 3.北京400w能买入的区域有那些呢 4.买新房合适还是二狗手

回答：北京这种超一线城市，房产供应一定是不足的，限制人口并不会影响发展，产业发展本就是更迭交替，北京一直是创新之都， 不存在饱和一说。 300+的资金建议北京，成都的价格并不低了，北京主看二手房。 主看 望京 朝阳cbd 双井

 

提问：房姐：请问海淀区金隅尚林家园共有产权房项目如果有资格值得考虑吗？共有产权房有什么优劣势还请指点。首付子弹150-180，sfsd不知道是考虑二手房上车更好还是这样的共有产权房也值得考虑？非常感谢。

回答：现在有个特点，凡是去中心化，共享概念的就特别受某些人欢迎，这些东西无非两个特点，一是让你感觉避免受到了剥削，二是让你感觉用几块钱拥有了几万块的东西。 譬如现在大火的比特币，ICO，共有产权房，租赁房…… 实际上，每个人都不可避免受到剥削，因为你需要付出才能进行交换，使用权不是产权，不能用几块钱解决几万块钱的问题。 所以，自住可以买的，相当于你用八折的价格买到了一个80%的产权，但是附赠一个100%的使用权。但是投资一定是回避的。 子弹180，建议买二手纯商品房。</string>
</dict>
</plist>
