<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>买房这3笔费用可以不用交 别白给开发商了</string>
	<key>body</key>
	<string>在人人都需要住房的书面下，房地产行业也越做越大了，甚至到了一家独大的局面，对此，最高兴的自然就是开发商了，而我们这些普通购房者也就只能默默攒钱买房了。但是，房地产市场乱收费的现象越来越严重，虽然国家明令禁止，却还是屡禁不止，因此大家购房时一定要小心谨慎，不要掉进乱收费的陷阱中去，比如在2020年买房子时，有3笔钱根本就不用交，大家一定不要成为冤大头。

一、认筹金
一般来说，在买新房的时候，会经常见到这种现象，所谓的认筹金就是在还没有开盘之前向开发商交一部分款项，最后等开盘之后用这部分钱进行抵押或者享受优惠。
换言之，也就是说，这笔钱不过是提前交了房款，是这样的理解吧？所以很多人都忍不住诱惑而交纳认筹金，认筹金一般都被开发商拿去资金回笼了，这部分钱虽然不多，可是一旦出了意外就会不了了之。
事实上，大家的钱都赚得来之不易，更加不是大风刮来的，所以面对这种情况一定要三思而行。而且交纳这个费用之后，就算有用，那么可以这个费用的房子范围也十分有限，一般黄金位置是不在此范围内的。

二、预付抵现
从买房的流程上来看，事实上，这笔钱的作用对于购房者们来说，和认筹金没有多大的差别，都是开发商在资金紧缺的时候想出来的法子，有时候也作为一种广告噱头使用，比如“交2000抵20000”这种说法都屡见不鲜了。
你以为这真的是福利吗？真的是优惠吗？其实，你错了，这种抵现的做法并没有让你房子的总价便宜到哪里去，根本就占不到开发商的便宜。
三、不动产权证的工本手续费
在办理不动产权证的时候，通常会有一个办理工本费，也不多，只需要几十块钱，但是开发商会坐地起价地收好几百块，虽然大家都知道这是一种不正常的现象，可是往往会为了不想惹麻烦而乖乖交钱。
但是，值得庆幸的是，国家现在为了整治乱收费现象，国家已经取消了不动产权证工本费的收取，如果有开发商要求你交钱的话，你完全可以拿出有关条例和他当面说理。</string>
</dict>
</plist>
