<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>什么因素会影响银行贷款额度？买房要知道！</string>
	<key>body</key>
	<string>购房者买房申请商业贷款的时候会发现，有的人可以获得优惠利率，有的人却享受不到优惠利率，贷款额度也会被“缩水”，严重的还有可能会被拒贷！如果购房者不能顺利地申请到银行贷款，就意味着要多缴纳首付甚至是全款买房。那么银行贷款受到哪些条件影响呢？

一、 首付比例
首付比例会根据楼市的状况进行调整，限购城市和非限购城市首付比例也会不同，例如目前非限购城市首套房低首付比例为20%，同一地区不同银行也存在一定的差异。买房前，购房者要了解银行的贷款政策，选择合适的银行贷款。
二、 房龄
银行在放贷时，会考量二手房的房龄。二手房的贷款年限，通常为20-25年，较为严格的只有15年或10年。房龄大的二手房，贷款额度可能会被降低，遇到严格的银行干脆直接拒贷；可以说房龄越短，购房者越容易获得贷款，且额度也比房龄较老的高。
三、购房者年龄
银行审核贷款时，要求购房者年龄为18-65周岁，其中25-40周岁是比较受欢迎的群体，50-65周岁的人申请房贷一般不容易通过。
四、购房者职业
公务员、教师、医生、律师、注册会计师、事业单位人群等，一般被银行视为客户；还有像机关单位、大型国企、500强企业员工，其能批复的额度也相对要高一些；这些人群更容易获得银行的优惠利率和贷款。
五、购房者收入
购房者的收入水平一般通过6个月的银行流水来体现，收入稳定对于申请到较高额度是有帮助的，月收入要求大于或等于房贷月供的2倍。
六、购房者信用
个人征信可以说是银行考量购房者的重要标准之一，征信良好是获得优惠利率和贷款的前提条件。有银行会考察购房者2年内的信用卡征信记录和5年内的贷款征信记录，有的银行会看更长时期内的征信，要求会有差异，出现连续3次、累计6次逾期的严重征信不良情况，有可能造成贷款被拒。
七、其他因素
1、保障能力情况
有银行同时会考查购房者的医疗保险、养老保险、意外伤害险、住房公积金等缴纳情况，这些可已从侧面体现了购房者的还款能力，其中银行比较看重的是医疗保险、养老保险。
2、一票否决型
有些因素会导致一个人的信用很差，例如因债务纠纷被起诉，有犯罪或不良记录等，这类人的个人信用会被认定为0，银行有权拒绝为其贷款。
以上就是小编为你总结的，影响贷款的隐私。了解了影响银行贷款额度的因素，我们就可以有针对性的努力，比如提高自己的个人收入、保持良好的信用记录等，以方便我们能顺利的申请贷款。</string>
</dict>
</plist>
