<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>2019房贷利率最新消息</string>
	<key>body</key>
	<string>2019年房贷利率涨没涨，月供是不是要涨了，房贷计算器官网为你介绍一下。
2019房贷利率最新消息
2019房贷没涨，月供没有涨，不过2019买房子大部分银行的房贷利率上浮是15%，基准房贷利率没涨，实际买房贷款过程中，全国大部分城市首付房的贷款利率都有不同程度的上浮。</string>
</dict>
</plist>
